<!DOCTYPE html>
<html ng-app="MineJS">
	<head>
		<title>MineJS</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/static/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/startPanel.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/apps.css"/>
		<link rel="stylesheet" type="text/css" href="/static/icons/foundation-icons.css"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>
	<body ng-controller="globalController">

		<div id="display">

		<div id="start-panel" class="panel">

			<div id="iconContainer">
				<div ng-click="openApp(app.id)" ng-repeat="app in avaliableApps|filter:{type:'gui',showIcon:true}" class="appIcon" title="{{app.description}}">
					<div style="background-color:{{app.style.primaryColor}}" class="appImage">
						<img src="{{getIconPath(app.icon,app.id)}}" alt="icone de {{app.name}}"/>
					</div>
					<div class="appName">
						{{app.name}}
					</div>
				</div>
			</div>

			<div id="login-form" ng-controller="loginController">
				<h1>MineJS</h1>
				<div class="logBox" ng-class="{error:loginFail}">
					<form ng-submit="logIn()">
						<input type="text" placeholder="Nom d'utilisateur" ng-model="username" />
						<input type="password" placeholder="Mot de passe" ng-model="password" />
						<input type="submit" vlaue="Se conecter"/>
					</form>
				</div>
			</div>
		</div>

		<div id="app" class="panel" ng-class="{active:state=='on',reduce:state=='reduce'}" ng-controller="appController">
			
			<ng-include src="'/static/css/app-framework.css'" id="appCssFramework" onload="loadedCss('appCssFramework')">
			</ng-include>

			<ng-include ng-if="application.css != null" src="getStaticPath(application.css)" id="appCss" onload="loadedCss('appCss')">
			</ng-include>

			<div id="app-{{application.id}}" class="app-container" ng-include="getStaticPath(application.html)">
			</div>

		</div>

		<div id="bar-container" ng-controller="controlBarController">

			<div class="menu notif" ng-class="{show:notif.show}">
				<div class="notifIcon {{notifTypes[notif.type].className}}">
					<i class="fi-{{notifTypes[notif.type].icon}}"></i>
				</div>
				<div class="notifMessage">
					{{notif.message}}
				</div>
			</div>

			<div class="menu hide" id="menuServer" ng-class="{hide:activeMenu != 'server'}">
				<span ng-click="toggleGameServer()" ><i class="fi-power"></i></span>
				<span ng-click="rebootGameServer()" ><i class="fi-refresh"></i></span>
			</div>

			<div class="menu hide" ng-class="{hide:activeMenu != 'players'}" id="menuPlayers">
				<span ng-repeat="player in onlinePlayers.players" >{{player}}</span>
				<span ng-show="onlinePlayers.players.length == 0" >Personne</span>
			</div>

			<div class="menu hide" ng-class="{hide:activeMenu != 'command'}" id="menuCommand">
				<form ng-submit="sendCommand(command)">
					<input type="text" ng-model="command"/><input type="submit" value=">"/>
				</form>
			</div>

				<nav id="control-bar" class="hide" ng-class="{hide:!isLogged()}">
					<span><i class="fi-flag"></i></span><span ng-click="toggleMenu('server')"><i class="fi-{{serverStates[actualState].icon}}"></i>{{serverStates[actualState].text}}</span><span ng-click="toggleMenu('players')"><i class="fi-torso"></i>Joueurs: {{onlinePlayers.players.length}}/{{onlinePlayers.playersMax}}</span><span ng-click="toggleMenu('command')"><i class="fi-italic"></i></span>
				</nav>
			</div>
		</div>

	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/angular.js"></script>
	<script src="/static/js/tweenMax.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/js/angular-socket-io/socket.js"></script>
	<script src="/static/js/MineJS.js"></script>
	</body>
</html>