<!DOCTYPE html>
<html ng-app="MineJS">
	<head>
		<title>MineJS</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/static/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/startPanel.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/apps.css"/>
		<link rel="stylesheet" type="text/css" href="/static/icons/foundation-icons.css"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
	</head>
	<body ng-controller="globalController">

		<div id="display">

		<div id="start-panel" class="panel">

			<div id="login-form" ng-controller="loginController">
				<h1>MineJS</h1>
				<div class="logBox" ng-class="{error:loginFail}">
					<form ng-submit="logIn()">
						<input type="text" placeholder="Nom d'utilisateur" ng-model="username" />
						<input type="password" placeholder="Mot de passe" ng-model="password" />
						<input type="submit" vlaue="Se conecter"/>
					</form>
					<p class="infoBox">Essayez d'<a ng-click="openApp('setup')" href="#">installer</a> MineJS</p>
				</div>
			</div>
		</div>

		<div id="app" class="panel" ng-class="{active:state=='on',reduce:state=='reduce'}" ng-controller="appController">
			
			<ng-include src="'/static/css/app-framework.css'" id="appCssFramework" onload="loadedCss('appCssFramework')">
			</ng-include>

			<ng-include ng-if="application.css != null" src="getStaticPath(application.css)" id="appCss" onload="loadedCss('appCss')">
			</ng-include>

			<div id="app-{{application.id}}" class="app-container" ng-include="getStaticPath(application.html)">
			</div>

		</div>

		<div id="bar-container">
				<nav id="control-bar" class="hide" ng-class="{hide:!isLogged()}">
					<span><i class="fi-flag"></i></span><span><i class="fi-check"></i>En ligne</span><span><i class="fi-torso"></i>Joueurs: 0</span><span><i class="fi-puzzle"></i>0 Plugins</span><span><i class="fi-graph-bar"></i>Charge: 0</span><span><i class="fi-italic"></i></span>
				</nav>
			</div>
		</div>

	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/angular.js"></script>
	<script src="/static/js/tweenMax.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/js/angular-socket-io/socket.js"></script>
	<script src="/static/js/MineJS.js"></script>
	</body>
</html>