#app-minejs .big-selector .row .icon-bar
{
	float: right;
	opacity: 0;
	transition: all 0.5s;
	color: white;
}

#app-minejs .big-selector .row:hover .icon-bar
{
	opacity: 1;
}

#app-minejs .aboutTab
{
	text-align: center;
}

#app-minejs .aboutTab p
{
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#app-minejs .aboutTab h1
{
	text-align: center;
	font-size: 100px;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 20px;
	color: {{application.style.primaryColor}};
}

#app-minejs .aboutTab .icon
{
	font-size: 50px;
	color: #717171;
	margin-left: 10px;
	margin-right: 10px;
}

#app-minejs .aboutTab .fi-heart
{
	color: #D3405F;
	font-size: 25px;
}

#app-minejs .appList
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#app-minejs .appIcon
{
	padding: 5px;
	width: 100px;
	height: 100px;
	margin: 10px;
	transition: 0.5s all;
	border: solid white 5px;
	text-align: center;
	cursor: pointer;
}

#app-minejs .appIcon img
{
	width: 70px;
}

#app-minejs .appIcon.type-gui
{
	background-color: #61A4FF;
	border: solid #61A4FF 5px;
}

#app-minejs .appIcon.type-back
{
	background-color: #FF9600;
	border: solid #FF9600 5px;
	line-height: 100px;
}

#app-minejs .appIcon p
{
	text-align: center;
	font-weight: bold;
}

#app-minejs .appIcon:hover
{
	color: white;
	background-color: {{application.style.primaryColor}} !important;
	border-color: {{application.style.primaryColor}};
}

.center-cel
{
	text-align: center;
}

.only-input
{
	border-radius: 10px !important;
}