<div class="app-container" ng-controller="minejsAppController">
<nav class="side-tab-menu">

	<div id="tab-1-title" class="tab-title" ng-click="tab = 1" ng-class="{active: tab == 1}">
		Utilisateurs
	</div>

	<div id="tab-2-title" class="tab-title" ng-click="tab = 2" ng-class="{active: tab == 2}">
		A propos
	</div>

	<div class="separator"></div>

	<div id="tab-5-title" class="tab-title" ng-click="closeApp()">
		Quitter
	</div>

</nav>
<section class="tab-content">

	<div id="tab-1" ng-show="tab == 1" class="tab" ng-controller="usersMinejsAppController">
		<div class="content">
			<h2>Utilisateurs</h2>
			<p>Modifiez ou créez ici des utilisateurs pouvant acceder à MineJS</p>
			<div class="big-selector">
				<div class="row" ng-repeat="user in users" >{{user.username}}</div>
			</div>
			<h3>Créer un nouvel utilisateur</h3>
			<form>
				<table class="formTable">
					<tr><td><label for="username">Nom d'utilisateur</label></td><td><input type="text" name="username" ng-model="user.username" /></td></tr>
					<tr><td><label for="password">Mot de passe</label></td><td><input type="password" name="password" ng-model="user.password" /></td></tr>
					<tr><td><label for="passwordVerif">Verification</label></td><td><input type="password" name="passwordVerif" ng-model="verif" /></td></tr>
				</table>
				<p class="align-right form-buttons"><span class="button button-primary" ng-click="saveUser()">Ajouter</span></p>
			</form>
		</div>
	</div>

	<div id="tab-2" ng-show="tab == 2" class="tab">
		<div class="content">
			<h2>A propos</h2>
			<p>A rédiger</p>
		</div>
	</div>

</section>
</div>